@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

input, textarea, button, select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  outline: none;
}

input {
  background: inherit;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 12px;
  background: #ef4444;
  cursor: pointer;
  border-radius: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}